html, body {
    overflow: hidden;
}
body{
    font-family: "YU Gothic", sans-serif;
    padding: 2vh 6vw;
    height:100%;
}
#title {
    padding-top: 2vh;
    margin-bottom: 2.5vh;
    font-size: 4.3vw;
    text-align: center;
    font-weight: 600;
    color: #2A3A3F;
}
#maindiv{ 
    margin-top:3vh;
    padding-left:4.9vw;
    padding-right:4.9vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.imgbox {
    width: 25vh;
    height: 25vh;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 3.5vh 4vh 4vh 5vh;
}
#touroku .imgbox {
    background-image: url("../img/touroku.png");
}
#sintyoku .imgbox {
    background-image: url("../img/sintyoku.png");
}
#rireki .imgbox {
    background-image: url("../img/rireki.png");
}
#note .imgbox {
    background-image: url("../img/note.png");
}
.homediv {  
    width: 37vw;
    height: 33vh;
    margin:0px 0.1vw 4vh 0.1vw;
    display:flex;
    border: 2.25px solid #000;
    border-radius: 37px;
}
.textdiv{   
    margin-top:4vh;
}
.h2{    
    font-size:3.4vw;
    padding-top:1vh;
    padding-left:1.6vw;
}
.h3{    
    font-size:1.5vw;
    margin-top:1vh;
    padding-left:1.5vw;
}
.homediv:hover{
    background-color: #AFC7D8;
    border-color: #9BB4C3;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.homediv:hover .h2,
.homediv:hover .h3 {
    color: #2A3A3F;
}
#touroku:hover .imgbox {
    background-image: url("../img/tourokuhover.png");
}
#sintyoku:hover .imgbox {
    background-image: url("../img/sintyokuhover.png");
}
#rireki:hover .imgbox {
    background-image: url("../img/rirekihover.png");
}
#note:hover .imgbox {
    background-image: url("../img/notehover.png");
}