body{
    font-family: "YU Gothic", sans-serif;
}
#lurer{
    display:flex;
    margin-top:5vh;
    justify-content:center;
    align-items:center;
}
.lurerDisplay{
    display:flex;
    align-items:center;
    font-size:1.6vw;
    font-weight:700;
}
.lurerBorder{
    width:3vw;   
    margin: 0 2.6vw;        
    height:1px;
    align-items:center;
    background-color:#000;
}
.circle{
    margin: 0 0.3vw;
    position: relative;
    width:1.5em;
    height:1.5em;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:500;
    color:	#6FB3B8;
}
.circle::before{
  content:"";
  position:absolute;
  inset:0;
  border:1px solid #6FB3B8;
  border-radius:50%;
  background-color:white; 
  z-index: -1;
}
#c{
    color:#FFFFFF;
}
#c::before{
    background-color:#6FB3B8;
}
.titleWrap{
    text-align:center;
}
#h1{
    margin:15vh 0px 0px 0px;
    font-size:5.5vh;
    font-weight:500;
    text-align:center;
    word-spacing: 0.3vw;
    display:inline-block;
    padding:0 4vw;
    text-align:center;
}
#h2{
    margin-top: 3vh;
    font-size: 2.4vh;
    font-weight: 500;
    color: #444444;
}


#buttonsotowaku{
    text-align: center;
    margin-top:14vh;
}
button{
    font-family:"YU Gothic", sans-serif;
    font-size:1.4vw;
    font-weight:600;
    height:3vw;
    padding: o.9vh 2.0vw;
    background-color:transparent;
    border: 2px solid #000;
    border-radius:5px;
    cursor:pointer;
    margin: 2vh 3vw;
    transition:0.25s;
}
.homebutton{
    color: #555;
    border-color: #555;
    background-color: transparent;
}

.homebutton:hover{
    color: #fff;
    background-color: #555;
}





