body{
    font-family: "YU Gothic", sans-serif;
}
#lurer{
    display:flex;
    margin-top:5vh;
    justify-content:center;
    align-items:center;
}
.lurerDisplay{
    display:flex;
    align-items:center;
    font-size:1.6vw;
    font-weight:700;
}
.lurerBorder{
    width:3vw;   
    margin: 0 2.6vw;        
    height:1px;
    align-items:center;
    background-color:#000;
}
.circle{
    margin: 0 0.3vw;
    position: relative;
    width:1.5em;
    height:1.5em;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:500;
    color:	#6FB3B8;
}
.circle::before{
  content:"";
  position:absolute;
  inset:0;
  border:1px solid #6FB3B8;
  border-radius:50%;
  background-color:white; 
  z-index: -1;
}
#b{
    color:#FFFFFF;
}
#b::before{
    background-color:#6FB3B8;
}
.titleWrap{
    text-align:center;
}
#h1{
    margin:6vh 0px;
    font-size:5vh;
    font-weight:500;
    text-align:center;
    word-spacing: 0.3vw;
    display:inline-block;
    padding:0 4vw;
    border-bottom:2px solid #000000;
    text-align:center;
}
form{
    display:flex;
    justify-content:center;
    margin-left:4.6vw;
}
input[disabled],select[disabled],textarea[disabled] 
{
    background-color: #fafafa;
    border: 1px solid #bbb;
    color: #222;
}
input[type="radio"]:checked + span{
    font-weight: 700;
    color: #222;
}

.sotowaku{
    width:28vw;
}
.signUpForm{
    margin-top:2vh;
}
.titleText{
    font-weight:570;
    margin-bottom:0.5vh;
    padding-left:0.5vw;
    font-size:1.2vw;
}
#titleText{
    padding-top:1vh;
    font-weight:570;
    margin-bottom:0;
    padding-left:0.5vw;
    font-size:1.2vw;
}
.holder{
    width:25vw;
    height:4vh;
}
#startVolume,#endVolume{
    width:3vw;
    height:4vh;
}
#dateInput{
    font-size:1.1vw;
}
#year{
    width:5vw;
    height:4vh;
}
#month{
    width:3vw;
    height:4vh;
}
#day{
    width:3vw;
    height:4vh;
}
#sintyokudiv input[type="radio"]
{
    margin-left:0.8vw;
    transform: scale(0.8); 
    margin-right: 0.2vw; 
}
#sintyokudiv{
    font-size:1.3vw;
}
#genre{
    width:12vw;
    height:5vh;  
}
#buttonsotowaku{
    margin-top:7vh;
    display:flex;
    justify-content:center;
}
button{
    font-family:"YU Gothic", sans-serif;
    font-size:1.4vw;
    font-weight:600;
    height:3vw;
    padding: o.9vh 2.0vw;
    background-color:transparent;
    border: 2px solid #000;
    border-radius:5px;
    cursor:pointer;
    margin: 2vh 3vw;
    transition:0.25s;
}
.resetbutton{
    color: #c44;
    border-color: #c44;
    background-color: transparent;
}

.resetbutton:hover{
    color: #fff;
    background-color: #c44;
}


.submitbutton{
    color: #3366cc;
    border-color: #3366cc;
    background-color: transparent;
}

.submitbutton:hover{
    color: #fff;
    background-color: #3366cc;
}
.homebutton{
    color: #555;
    border-color: #555;
    background-color: transparent;
}

.homebutton:hover{
    color: #fff;
    background-color: #555;
}