body{
    font-family: "YU Gothic", sans-serif;
    margin: 0;
    padding: 0;
}
#alldiv{
    display: flex;
    height: 100vh;
}
#leftdiv{
    position: fixed;
    width: 15vw;
    height: 100vh;
    background-color: #E6EEF3;
    border-right: 2px solid #9BB4C3;
}
.sidebar{
    padding: 2vh 1.5vw;
    color: #2A3A3F;
    cursor: pointer;
    transition: 0.2s;
}
#sakuhin{
    background-color: #6FB3B8;
    color: white;
}
#syousai{
    background-color: #A8D4D7;
    color: white;
}
.sidebar:hover{
    background-color: #D8E4EB;
}
#rightdiv{
    margin-left: 15vw;
    width: 85vw;
    padding: 4vh 3vw;
    background: #F4F7F9;
    height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
    border-left: 1px solid #D0DCE3;
}
.titleWrap{
    width: 100%;
    text-align: center;
}
#h1{
    margin: 6vh 0 5vh;
    font-size: 4.5vh;
    font-weight: 600;
    display: inline-block;
    padding: 0 4vw;
    border-bottom: 2px solid #000;
}
.info{
    width: 60%;
    margin: 3vh 0 0 24vw;
    font-size: 1.3vw;
}
.info-row{
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
}
.label{
    width: 10vw;
    font-weight: 600;
    font-size: 1.3vw;
}
.value{
    font-size: 1.3vw;
}
small{
    position:fixed;
    bottom:10px;
}